.box{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 80px;
}
.input{
  background-color: rgb(206, 239, 245);
  height: 40vh;
width: 30vw;
border-radius: 10px;
overflow: hidden;
padding: 20px;
font-weight: 400;
font-size: 17px;
box-shadow: 1px 4px 9px rgba(0, 0, 0, 0.2);
}
.output{
  background-color: rgb(206, 239, 245);
  height: 280px;
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  font-weight: 400;
  font-size: 17px;
  box-shadow: 1px 4px 9px rgba(0, 0, 0, 0.2);
  
}
.buttonfn{
    width: 150px;
    background-color: black;
    color: whitesmoke;
    font-size: 15px;
    height: 40px;
    border-radius: 6%;
}
.buttons{
    padding: 5%;
}
.heading{
  font-family:Georgia, 'Times New Roman', Times, serif;
  display: flex;
  justify-content: space-evenly;
  top: 0;
  align-items: center;
  line-height: 45px;
  text-decoration: none;
  font-size: 40px;
  color: whitesmoke;
 
}
.bg{
background-color: rgb(97, 93, 93);
}

@media screen and (max-width: 1000px) {
.box{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 80px;
  
}
.input{
background-color: rgb(206, 239, 245);
height: 40vh;
width: 60vw;
border-radius: 10px;
overflow: hidden;
padding: 20px;
font-weight: 400;
font-size: 17px;
box-shadow: 1px 4px 9px rgba(0, 0, 0, 0.2);
}

}

.buttonDiv{
padding: 3%
}