.box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 80px;
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 30px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 30px;
    
}
.input{
    background-color: rgb(206, 239, 245);
    height: 280px;
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  font-weight: 400;
  font-size: 17px;
  box-shadow: 1px 4px 9px rgba(0, 0, 0, 0.2);
  }
  .output{
    background-color: rgb(206, 239, 245);
    height: 280px;
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    font-weight: 400;
    font-size: 17px;
    box-shadow: 1px 4px 9px rgba(0, 0, 0, 0.2);
    
  }
  .buttonfn{
      width: 200px;
      padding: 15px;
      background-color: rgb(30, 20, 41);
      color: whitesmoke;
      font-size: medium;
      font-style:italic;
  }
  .buttons{
      padding-top: 50px;
  }
  .heading{
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-around;
    position: sticky;    
    top: 0;
    box-shadow: 1px 2px 2px rgb(0 0 0 / 10%), -1px -1px 2px rgb(0 0 0 / 8%);
    align-items: center;
    line-height: 45px;
    text-decoration: none;
    font-size: 40px;
    color: whitesmoke;
   
}
.bg{
background-image: url("../UtilityApp.jpeg");;
}