.datetime{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
.ini{
    padding-left: 20px;
    padding-bottom: 20px;
}
.lab{
    font-size:25px;
    padding-bottom: 20px;
    color:white;
}
.input{
    height: 30px;
    font-size: large;
    
}
.one{
    padding-bottom: 30px;

}

.ini1{
    padding-left: 0.7px;
}
.buttonfn{
    color:black;
    height: 40px;
    width: 100px;
    border-radius: 8%;
    font-size: 20px;
    padding-right: 30px;

}
.head{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content:flex-end;
 
 }
 .bg{
    background-color: rgb(97, 93, 93);
     }
     h1{
         color:  white;
         font-style: normal;
     }

     .title2{
         padding-right:80px;
     }


/* @media screen and (max-width: 800px) {
    .datetime{
        display: flex;
        
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 3%;
    }
} */