.buttonfn{
    color:black;
    height: 40px;
    width: 100px;
    border-radius: 5%;
    font-size: large;

}
.wrapper{
    margin: 20rem; align-items: center;
}
.timer{
    display: flex; flex-direction: column; align-items: center;
}
.time{
    font-size: 4rem;
    color:white ;
}
.head{
   display: flex;
   flex-direction: row;
   color: white;
   justify-content: space-between

}
.bg{
    background-color: rgb(97, 93, 93);
    }
    h1{
        color:  white;
        font-style: normal;
        text-decoration: none;
    }

    .title h1{
        margin-left: 46vw;
        font-size: 39px;
        text-decoration: underline;

    }
    .title2 h1{
        font-size: 30px;
    }

.stopwatch-button2{
    padding-top: 2%;
}